body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 238, 241);
}
/*Modal*/
h1{
    text-align: center;
}

.modal-wrapper{
    text-align: center;
}
/*Botao Toggle modal*/
.toggleModal{
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 217, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 17px;
    box-shadow: 2px 3px 5px rgb(156, 156, 156);
}
.toggleModal:hover{
    background-color: rgb(18, 172, 243);
}

.modal{
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 300px;
    height: 370px;
    border: 2px solid black;
    background-color: rgb(253, 231, 251);
}
/*Botoes modal*/
#alimento {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}

#carboidrato{
    width: 200px;
    height: 35px;
    border-radius: 10px;
}

#proteina{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#lipidios{
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    border-radius: 10px;
}

#calcularCaloria{
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    background-color: rgb(51, 255, 0);
    cursor: pointer;
}
#calcularCaloria:hover{
    background-color:rgb(63, 207, 34);
}

#cancelar {
    width: 150px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
#cancelar:hover{
    background-color:rgb(223, 24, 24);
}

.resultado-wrapper{
    text-align: center;
}
/*Resultado final*/
.resultadoFinal {
    color: white;
}

/*Menu Nav*/

.menuModal{
    background-color: rgb(108, 92, 255);
    padding: 5px;
}

.menuModal ul{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.menuModal ul li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;

}

.menuModal ul li a{
    list-style: none;
    text-decoration: none;
}

.menuModal ul li a:hover{
    color: rgb(255, 255, 255);
}

.menuHamburguer {
    margin-left: auto;
    margin-right: auto;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menuModal{
        display: none;
    }

    .menuHamburguer{
        display: block;
    }
}
